body div#container {
  width: 960px;
  margin: 0 auto; }
  body div#container header div#baniere {
    height: 150px;
    width: 960px; }
  body div#container header nav {
    height: 10px;
    width: 960px; }
    body div#container header nav ul {
      margin: auto;
      width: 700px; }
      body div#container header nav ul li {
        width: 19%;
        height: 100%; }
        body div#container header nav ul li a {
          font-size: 28px; }
  body div#container div#caroussel {
    height: 300px;
    margin-bottom: 10px; }
  body div#container article#topArticle {
    height: 300px; }
    body div#container article#topArticle img {
      width: 340px;
      height: 280px;
      margin: 10px 10px 5px 90px; }
    body div#container article#topArticle div {
      position: relative;
      top: -280px;
      left: 460px;
      width: 260px;
      height: 265px; }
      body div#container article#topArticle div h2 {
        text-align: center;
        margin-top: 10px;
        font-size: 20pt; }
      body div#container article#topArticle div p {
        margin-top: 40px; }
    body div#container article#topArticle form {
      position: relative;
      top: -540px;
      left: 740px;
      width: 200px;
      height: 167px;
      padding: 25px 0;
      text-align: center; }
      body div#container article#topArticle form fieldset #lbQuantite {
        text-align: left;
        margin-bottom: 15px; }
      body div#container article#topArticle form fieldset select#quantite {
        margin-left: 40px;
        margin-bottom: 15px;
        width: 55px; }
      body div#container article#topArticle form fieldset #lbPoids {
        text-align: left;
        margin-bottom: 15px; }
      body div#container article#topArticle form fieldset #poids {
        margin-left: 62px;
        margin-bottom: 15px; }
      body div#container article#topArticle form fieldset h5 {
        margin-bottom: 15px; }
        body div#container article#topArticle form fieldset h5 span {
          margin-left: 66px; }
      body div#container article#topArticle form fieldset input#sub {
        background-color: #4CAF50;
        border: none;
        color: #FFFFFF;
        padding: 15px 32px;
        text-align: center;
        margin: 10px 0;
        text-decoration: none;
        font-size: 16px;
        border-radius: 2px;
        cursor: pointer; }
  body div#container section#secAside {
    width: 250px; }
    body div#container section#secAside aside ul li.cat {
      text-align: left; }
  body div#container section#secArticle {
    width: 706px; }
    body div#container section#secArticle article {
      height: 210px;
      width: 255px;
      margin: 0 50px 30px 40px; }
      body div#container section#secArticle article img {
        height: 180px;
        width: 255px; }
      body div#container section#secArticle article div.nomPrix {
        width: 100%; }
  body div#container footer {
    height: 100px; }
