body html{
  background-color: antiquewhite;
}
#container{
  background-color: antiquewhite;
}
/**************/
/*** HEADER ***/
/**************/
#header{
}
#baniere{
}
#titre{
  text-align: center;
  position: relative;
  top: -100px;
  color: cornsilk;
  margin-bottom: -40px;
}
#lnk_titre{
  color: cornsilk;
}
#fb{
  float: right;
  position: relative;
  left: -30px;
  margin-bottom: -30px;
}
#nav{
  margin-top: -20px;
  height: 30px;
}
.cat{
  font-size: 19px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  height: 100%;
}
.cat:hover{
  background-color: rgba(100,100,100,0.3);
}
/*** FIN HEADER ***/


/**************/
/*** SLIDER ***/
/**************/
/*** FIN SLIDER ***/
