body{
  background-image: url('../img/bg-farm.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#container{
  background-color: rgba(255,255,255,0.3);
  overflow: hidden;
}
.tar{
  text-align: right;
}
.tal{
  text-align: left;
}
.tac{
  text-align: center;
}
.p0{
  padding: 0;
}
.m0{
  margin: 0;
}
/*****************/
/*** BOOTSTRAP ***/
/*****************/
.row{
  margin: 0;
}
.btn{
  padding: 0px 5px;
}
.btn-success{
  font-weight: bold;
}

/*********************/
/*** HEADER PARNER ***/
/*********************/
.ulRecap{
  padding: 10px 0;
}
.cel{
  background: #FBEECC;
  border: 1px solid #FFD976;
  border-radius: 5px;
  /*box-shadow: 0 0 21px #FFE6A4;*/
}
.op{
  background: #FFD76E;
  border: 1px solid #FFD976;
  box-shadow: 0 0 21px #FFE6A4;
}
.num{
  height: 100%;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  background: #FAEBD7;
}
.txt{
  text-align: center;
}

/**************/
/*** HEADER ***/
/**************/
#baniere{
  overflow: hidden;
  max-height: 170px;
}
.divBan {
  padding: 50px 0;
  background-image: url('../img/bg-ban.png');
  background-position: center top;
  background-size: 100% auto;
  height: 170px;
}
#titre{
  text-align: center;
  color: #302c1d;
  margin: -10px 0 0 0;
  text-shadow: 0 0 22px white;
}
#titre i {
  -webkit-transform: scale(1.4) rotate(-10deg);
  -moz-transform: scale(1.4) rotate(-10deg);
  -o-transform: scale(1.4) rotate(-10deg);
  display: inline-block;
  font-style: oblique;
  margin-left: 33px;
  margin-bottom: 10px;
}
#lnkTitre{
  text-decoration: none;
}
#fb{
  float: right;
  margin-bottom: -40px;
  margin-right: 20px;
}
#nav{
  margin: -20px 0 15px 0;
  padding: 0;
}
.cat{
  font-size: 19px;
  text-align: center;
  cursor: pointer;
  height: 35px;
  padding: 0;
  line-height: 35px;
  background-color: #FFEFC6;
  border: 1px solid #e9e899;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.cat:hover{
  background-color: #FFDD87;
}

/*******************/
/*** top article ***/
/*******************/
#topArticle{
  text-align: center;
}
#inTopArticle{
  background: #fce7b0;
  padding: 10px;
}
#imgTopArticle{
  max-height: 220px;
  max-width: 100%;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffd9;
  border: 1px solid #e9e899;
}
#lblDescription{
  text-align: justify;
}
#lblTitreDescription{
  margin: 10px 0;
}
.formTopArticle{
  padding: 7px 4px;
  line-height: 1.42857143;
  background-color: #ffffd9;
  border: 1px solid #e9e899;
  box-shadow: 0px 0px 10px #edd088;
  margin-top: 10px;
  margin-bottom: 10px;
}
#prixTTC{
  margin: 7px 0;
}

/**************/
/*** SLIDER ***/
/**************/
.carousel{
  background: #FCE7B0;
}
.item{
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}
.lnkSlider{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  background: #FFE8AC;
  color: #803200;
  text-align: center;
  padding: 10px 0;
}
.carousel-inner{
  height: 300px;
}
.carDivImg{
  max-width: 100%;
  max-height: 100%;
}
.carouselImg{
  height: 280px;
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
  line-height: 1.42857143;
  background-color: #ffffd9;
  border: 1px solid #e9e899;
}
.carousel-control{
  background-image: none !important;
}
.dot{
  border: 1px solid rgba(0,0,0,.0) !important;
}
.active{
  background-color: rgba(0,0,0,.0) !important;
}
.text{
  text-align: justify;
  padding: 0 30px;
}

/*************/
/*** ASIDE ***/
/*************/
#panier{
  margin-top: 20px;
  margin-bottom: 15px;
}
#inPanier{
  background: #fbeecc;
}
.dPanier{
  background: #fbeecc;
}
.childDPanier{
  margin: 5px;
  background: #fce7b0;
  cursor: pointer;
}
#lblTitrePanier{
  text-align: center;
  background: #fce7b0;
  padding: 3px 0;
}
.imgPan{
  height: 54px;
  margin: 0;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffd9;
  border: 1px solid #e9e899;
}
.lblTitreProduitPanier{
  text-align: center;
}
.btnDelete{
  float: right;
}
.infoPan{
  text-align: center;
  margin: 10px 0 5px 0;
}
.infos{
  padding: 0 0 4px 0px;
}

/***************/
/*** SECTION ***/
/***************/
#secArticle{
  padding: 30px 0;
}
.allArticles{
  background: #FBEECC;
  padding: 10px;
}
.articles{
  cursor: pointer;
  background: papayawhip;
  margin: 0px;
  padding: 8px;
  height: 200px;
  text-align: center;
}
.childArticles{
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fce7b0;
  box-shadow: 0 0 10px #ffdf83;
}
.img_expo{
  height: 65%;
  margin: 5px 0 15px;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffd9;
  border: 1px solid #e9e899;
}
.nomfrom{
  margin: 0;
  padding: 0 0 0 3px;
  font-size: 22px;
  text-align: left;
}
.nomPrix{
  padding: 0;
  background: #fef4d3;
}
.prix{
  padding: 2px 4px 2px 0px;
}
.centered{
  margin: 0 auto;
}

/**************************/
/*** SECTION COORDONNEE ***/
/**************************/
#errMsg{
  color: red;
  font-size: 13px;
}
.infoCoor{
  text-align: center;
}
#radioRow{
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio{
  border-radius: 5px;
  margin-top: 10px !important;
  background: #FBEECC;
  border: 1px solid #FCE7B0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.radio:hover{
  background: #FCE7B0;
  border: 1px solid #FFBD00;
}
.btnPai{
  padding: 10px 0;
}
.diCoor{
  background: #FCE7B0;
  padding-bottom: 10px;
  box-shadow: 0 0 12px #FCE7B0;
}
.diCoorBtn{
  background: #FCE7B0;
  padding: 5px;
  box-shadow: 0 0 12px #FCE7B0;
}


/***********************/
/*** CONNEXION ADMIN ***/
/***********************/
.recap{
  background: #FBEECC;
  text-align: center;
  padding: 15px;
}
.g-recaptcha{
  display: inline-block;
}
.divco{
  margin: 20px 0;
}
#co{
  background: #FBEECC;
  padding: 40px;
}
.lbl{
  margin-top: 15px;
}
/*************/
/*** ADMIN ***/
/*************/
#btn_commande, #btn_produit{
  margin: 15px;
}
/** produit **/
.tab{
  padding: 20px;
}
#data{
  background: floralwhite;
}
.formAdd{
  display: none;
  background: #FFF7D1;
  padding: 10px;
  margin: 0 0 15px 0;
}
#cross{
  border-radius: 0;
  padding: 2px 4px;
  float: right
}
#dnom, #ddescri, #dimage, #btnAddMod{
  margin: 15px 0;
}
#addFromage{
  float: right;
}
.status1{
  background: #D9534F !important;
}
/** commande **/
.statut0{
  background: rgba(255,0,0,.1)
}
.statut1{
  background: rgba(0,0,255,.1)
}
.statut2{
  background: rgba(0,255,0,.1);
}

/**************/
/*** FOOTER ***/
/**************/
#foot{
  background: ivory;
}
.foodi{
  margin: 10px 0;
  height: 100px;
  background: -moz-linear-gradient(top, rgba(255, 242, 188, 0.7) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 242, 188, 0.7) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(255, 242, 188, 0.7) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 24px #E4E4E4;
  color: grey;
  padding: 10px;
}
#fooa{
  color: grey;
  text-decoration: none;
}
.fooImg{
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}
