body html{
  background-color: antiquewhite;
}
#container{
  background-color: antiquewhite;
}
.tar{
  text-align: right;
}
.tal{
  text-align: left;
}
.p0{
  padding: 0;
}
.m0{
  margin: 0;
}
/*****************/
/*** BOOTSTRAP ***/
/*****************/
.row{
  margin: 0;
}
.btn{
  padding: 0px 5px;
}
.btn-success{
  font-weight: bold;
}
/*** BOOTSTRAP ***/

/**************/
/*** HEADER PARNER ***/
/**************/
.ulRecap{
  padding: 10px 0;
}
.cel{
  background: #FBEECC;
  border: 1px solid #FFD976;
  /*box-shadow: 0 0 21px #FFE6A4;*/
}
.op{
  background: #FCE7B0;
  border: 1px solid #FFD976;
  box-shadow: 0 0 21px #FFE6A4;
}
.num{
  height: 100%;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  background: #FAEBD7;
}
.txt{
  text-align: center;
}
/*** FIN HEADER PANIER***/

/**************/
/*** HEADER ***/
/**************/
#header{
}
#baniere{
  overflow: hidden;
  max-height: 170px;
}
#titre{
  text-align: center;
  position: relative;
  top: -100px;
  color: cornsilk;
  margin-bottom: -40px;
}
#lnkTitre{
  color: cornsilk;
}
#fb{
  float: right;
  margin-bottom: -40px;
  margin-right: 20px;
}
#nav{
  margin-top: -20px;
  padding: 0;
}
.cat{
  font-size: 19px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  height: 100%;
  padding: 0;
  line-height: 1.42857143;
  background-color: #FFEFC6;
  border: 1px solid #e9e899;
}
.cat:hover{
  background-color: #FFDD87;
}
/*** FIN HEADER ***/

/*******************/
/*** top article ***/
/*******************/
#topArticle{
  padding: 5px;
  background: #fce7b0;
  text-align: center;
}
#imgTopArticle{
  max-height: 220px;
  max-width: 100%;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffd9;
  border: 1px solid #e9e899;
}
#lblDescription{
  text-align: justify;
}
#lblTitreDescription{
  margin: 10px 0;
}
.formTopArticle{
  padding: 7px 4px;
  line-height: 1.42857143;
  background-color: #ffffd9;
  border: 1px solid #e9e899;
  box-shadow: 0px 0px 10px #edd088;
}
#prixTTC{
  margin: 7px 0;
}
/***********************/
/*** fin top article ***/
/***********************/

/*************/
/*** ASIDE ***/
/*************/
#panier{
  background: #fbeecc;
}
.dPanier{
  background: #fbeecc;
}
.childDPanier{
  margin: 5px;
  background: #fce7b0;
  cursor: pointer;
}
#lblTitrePanier{
  text-align: center;
  background: #fce7b0;
  padding: 3px 0;
}
.imgPan{
  height: 54px;
  width: 69px;
  margin: 0;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffd9;
  border: 1px solid #e9e899;
}
.lblTitreProduitPanier{
  text-align: center;
}
.btnDelete{
  float: right;
}
.infoPan{
  text-align: center;
  margin: 0 0 5px 0;
}
.infos{
  padding: 0 0 4px 0px;
}
/*** FIN ASIDE ***/

/***************/
/*** SECTION ***/
/***************/
#secArticle{
  padding: 30px 0;
}
.articles{
  cursor: pointer;
  background: papayawhip;
  margin: 0px;
  padding: 8px;
  height: 200px;
  text-align: center;
}
.childArticles{
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fce7b0;
}
.img_expo{
  height: 77%;
  margin: 5px 0 15px;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffd9;
  border: 1px solid #e9e899;
}
.nomfrom{
  margin: 0;
  padding: 0 0 0 3px;
  font-size: 22px;
  text-align: left;
}
.nomPrix{
  padding: 0;
  background: #fef4d3;
}
.prix{
  padding: 2px 4px 2px 0px;
}
.centered{
  margin: 0 auto;
}
/*** FIN SECTION ***/

/**************/
/*** FOOTER ***/
/**************/
#foot{
  background: ivory;
}
.foodi{
  margin: 10px 0;
  height: 100px;
  background: -moz-linear-gradient(top, rgba(255, 242, 188, 0.7) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 242, 188, 0.7) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(255, 242, 188, 0.7) 0%,rgba(0,0,0,0) 100%);
  box-shadow: 0px 0px 24px #E4E4E4;
  color: grey;
  padding: 10px;
}
.fooImg{
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}
/*** FIN FOOTER ***/
