$w-main : 100%;
$w-nav : 100%;
$w-sarticle : 100%;
$w-saside : 100%;
$fs-nav : 28px;
$h-section : 720px;
$carrTop : 300px;


body{
	div#container{
		width: $w-main;
		margin: 0 auto;
		header{
			div#baniere{
				height: 150px;
				width: $w-main;
			}
			nav {
				height: 10px;
				width: $w-main;
				ul{
					margin: auto;
					width: $w-nav;
					li{
						width: 19%;
						height: 100%;
						a{
							font-size: $fs-nav;

						}
					}
				}
			}
		}
		div#caroussel{
			display: none;
		}
		article#topArticle{
			
			img{

				width: 340px;
				height: 280px;
				margin: 10px auto;
			}
			div{
					display: inline-block;
					width: 260px;
					height: 265px;
				h2{
					text-align: center;
					margin-top: 10px;
					font-size: 20pt;
				}	
				p{
					margin-top: 40px;
				}
			}
			form{	
				display: inline-block;
				width: 200px;
				height: 167px;
				padding: 25px 0;
				text-align: center;
				fieldset{
					#lbQuantite{
						text-align: left;
						margin-bottom: 15px;
					}
					select#quantite{
						margin-left: 40px;
						margin-bottom: 15px;
	   					width:55px;
					}
					#lbPoids{
						text-align: left;
						margin-bottom: 15px;
					}
					#poids{
						margin-left: 62px;
						margin-bottom: 15px;
					}
					h5{
						margin-bottom: 15px;
						span{
							margin-left: 66px;
						}
					}
					input#sub{
						background-color: #4CAF50;
						border: none;
						color: #FFFFFF;
						padding: 15px 32px;
						text-align: center;
						margin: 10px 0;
						text-decoration: none;
						font-size: 16px;
						border-radius: 2px;
						cursor: pointer;
					}
				}
			}	
		}
		aside#panier{
			max-width: 550px;
		}
		div.dPanier{
			margin: 0 !important;
			padding-bottom: 15px !important;
			width: 100% !important;
			img{
				width: 71px !important;
				height: 50px !important;
				margin: 0 !important;
			}
			h4{
				width: 100% !important;
				margin-top: 20px !important;
			}
			form{
				float: right !important;
				button{
					padding: 0 !important;
				}
			}
			div{
				width: 250px !important;
				height: 50px;
				.quantitePanier{
					width: 175px !important;
				}
				.poidsPanier{
					width: 182px !important;
				}
				.prixPanier{
					width: 207px !important;
				}
			}
		}
		form{
			button#btnEffacerPanier{
				margin: 0 !important;
			}
		}


		div.Totaux{
			margin-left: 0 !important;
		}
		form#formu{
			div{
				width: 100%;
				margin-left: 0 !important;
			}
			button{
				margin: 0;
			}
		}
		#infos{
			margin: 0 !important;
			width: 100% !important;
		}
		#paypal{
			button{
				margin: 0 !important;
			}
		}
		form#before{
			button{
				top: 0 !important;
				left: 0 !important;
			}
		}
		section#secAside{
			width: $w-saside;
			//height: $h-section;
			aside{
				ul{
					li.cat{
						text-align: left;
						ul.souscat{
							li{

							}
						}
					}
				}
			}
		}
		section#secArticle{
			width: $w-sarticle;
			//height: $h-section;
			article{
				height: 210px;
				width: 255px;
				margin: 0 50px 30px 40px;
				img{
					height: 180px;	
					width: 255px;		
				}
				div.nomPrix{
					width: 100%;
					h2{

					}
				}
			}
		}
		footer{
			height: 100px;
		}
	}
}